﻿@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <title>Von Bismark - The Eircom Golden Spiders</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="StyleSheet.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <span class="EircomSpidersLogo"></span>
                <span class="VonBismarkLogo"></span>
            </div>

        <div class="sharing">
            <div class="line1"></div>
            <span class="share"></span>
            <div class="line2"></div>
            <div class="sharingLinks">
                <button class="analytics"></button>
                <button class="shareMore"></button>
                <button class="shareFacebook"></button>
                <button class="shareTwitter"></button>
                <button class="sharePinterest"></button>
                <button class="shareEmail"></button>
            </div>
            <div class="line3"></div>
        </div>
            <div class="picture">
            
            </div>
        </div>
    </body>
</html>
