body {   
   background-color: #BD322B;
}
.container{   
    position: relative;  
    margin-left:auto;
    margin-right:auto;  
    width: 600px;
}

.header{
   /*height:auto;
   width:auto;*/
}

.EircomSpidersLogo{
    background-image: url('images/EircomSpidersHeader.png');
    background-repeat:no-repeat;
	background-position:left top;
    position: absolute; 
    top: 0;
    width: 600px; 
    height: 100px;                              
}

.VonBismarkLogo{
    background-image: url('images/VonBismarkHeader.png');
    background-repeat:no-repeat;
	background-position:left top;
    position: absolute; 
    top: 10px;
    left: 320px;
    height: 100px;
    width: 286px;                                      
}

.sharing{
    position: absolute; 
    top: 100px;
    width: 600px;
}

.line1{
    background-image: url('images/Red-Line.png');
    background-repeat:no-repeat;
	background-position:left top;
    position: absolute; 
    top: 20px;
    height: 6px;
    width: 600px;      
}

.share{
    background-image: url('images/ShareYourPhoto.png');
    background-repeat:no-repeat;
    background-position-x: center;
    position: absolute; 
    top: 29px;
    width: 600px;
    height: 40px;
        
}

.line2{
    background-image: url('images/Red-Line.png');
    background-repeat:no-repeat;
	background-position:left top;
    position: absolute; 
    top: 60px;
    height: 6px;
    width: 600px;      
}

.sharingLinks{
    position: absolute; 
    top: 70px;
    left: 160px;
    height: 40px;
    width: 600px;   
    margin: 0 auto;
    
}

.analytics{
    background-image: url('images/AnalyticsButton.png');
    background-repeat:no-repeat;
    top:  -30px;
    height: 15px;
    width: 80px;
    border: none;
    padding-top: 20px;
    background-color: #BD322B;
        
    
}

.shareMore{
    background-image: url('images/ShareMoreButton.png');
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: #BD322B;
}

.shareFacebook{
    background-image: url('images/FacebookButton.png');
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: #BD322B;

}

.shareTwitter{
    background-image: url('images/TwitterButton.png');
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: #BD322B;
    
}

.sharePinterest{
    background-image: url('images/PintrestButton.png');
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: #BD322B;
}

.shareEmail{
    background-image: url('images/EmailButton.png');
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background-color: #BD322B;
}

.line3{
    background-image: url('images/Red-Line.png');
    background-repeat:no-repeat;
	background-position:left top;
    position: absolute; 
    top: 108px;
    height: 6px;
    width: 600px;      
}

.picture{
    border: 5px solid #781719;
    width: 268px;
    height: 346px;
    display: block;
    position: absolute;
    top: 220px;
    left: 150px;
}